{% extends "coupark/base.html" %}
{% load static %}
{% block body_block %}

  <div class="jumbotron">
    <h1>Please log in</h1>
    <h3>If you dont have an account you can create one <a href="{% url 'coupark:register' %}">here</a></h4>

      <form action="{% url 'coupark:user_login' %}" method="POST" >

        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Enter you username">

        <label for="password">Password:</label>
        <input type="password" name="password">

        <input class="btn btn-primary" type="submit" value="Login">

      </form>
  </div>

{% endblock %}
