{% extends "coupark/base.html" %}
{% load static %}
{% block body_block %}

<div class="container">
  <div class="jumbotron">

    <div class="row mb-3" ></div>

    <div class="container">
      {% if registered %}
        <h1>Thank you for registering!</h1>
      {% else %}
        <h1>Register Here!</h1>
        <form enctype="multipart/form-data" method="POST" >

          {% csrf_token %}
          {{ user_form.as_p }}
          {{ profile_form.as_p }}

          <input class="btn btn-primary" type="submit" value="Register">

        </form>
      {% endif %}

      <div class="row mb-5" ></div>
    </div>
  </div>
</div>

{% endblock %}
